<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">JCilACAD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
             aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">JCilACAD</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/index}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/students/dashboard}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/account/password}">Change Password</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>

                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 150px">


    <a th:href="@{/students/dashboard}" type="button" class="btn btn-info mb-4">Back</a>
    <h1>Transaction Details</h1>

    <div class="card my-5" style="width: 100%;">
        <div class="card-header">
            <b>Id:</b> [[${transaction.id}]]
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Remarks:</b> [[${transaction.remarks}]]</li>
            <li class="list-group-item"><b>Ordering Date:</b> [[${transaction.orderingDate}]]</li>
            <li class="list-group-item"><b>Pickup Date:</b> [[${transaction.receivedDate}]]</li>
            <li class="list-group-item"><b>Approved Date:</b> [[${transaction.approvedDate}]]</li>
            <li class="list-group-item"><b>Cancelled Date:</b> [[${transaction.cancelledDate}]]</li>
        </ul>
    </div>

    <div class="card mb-3 my-5" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="${item.photosImagePath}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">[[${item.name}]]</h5>
                    <br><br>
                    <p class="card-text"><b>Reserved Item: </b>[[${transaction.quantity}]]</p>
                    <p class="card-text"><b>Size: </b>[[${item.size}]]</p>
                    <p class="card-text"><b>Price: </b>₱ [[${item.price}]]</p>
                    <p class="card-text"><b>Description: </b>[[${item.description}]]</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container table-responsive" style="margin-top: 20px">


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>
</body>
</html>